<app-crousel></app-crousel>
<app-search class="left"></app-search>
<mat-tab-group
  #tab
  mat-align-tabs="center"
  (selectedTabChange)="tabChanged($event)"
  class="right"
>
  <mat-tab label="Comedy">
    <app-genres
      *ngIf="!dataLoading && !loadingWatchlist"
      [loading]="dataLoading"
      [genreData]="data"
      [watchlist]="watchlist"
    ></app-genres>
  </mat-tab>
  <mat-tab label="Action">
    <app-genres
      *ngIf="!dataLoading && !loadingWatchlist"
      [loading]="dataLoading"
      [genreData]="data"
      [watchlist]="watchlist"
    ></app-genres>
  </mat-tab>
  <mat-tab label="Romance">
    <app-genres
      *ngIf="!dataLoading && !loadingWatchlist"
      [loading]="dataLoading"
      [genreData]="data"
      [watchlist]="watchlist"
    ></app-genres>
  </mat-tab>
  <mat-tab label="Mystery">
    <app-genres
      *ngIf="!dataLoading && !loadingWatchlist"
      [loading]="dataLoading"
      [genreData]="data"
      [watchlist]="watchlist"
    ></app-genres>
  </mat-tab>
  <mat-tab label="Thriller">
    <app-genres
      *ngIf="!dataLoading && !loadingWatchlist"
      [loading]="dataLoading"
      [genreData]="data"
      [watchlist]="watchlist"
    ></app-genres>
  </mat-tab>
  <mat-tab label="War">
    <app-genres
      *ngIf="!dataLoading && !loadingWatchlist"
      [loading]="dataLoading"
      [genreData]="data"
      [watchlist]="watchlist"
    ></app-genres>
  </mat-tab>
  <mat-tab label="Horror">
    <app-genres
      *ngIf="!dataLoading && !loadingWatchlist"
      [loading]="dataLoading"
      [genreData]="data"
      [watchlist]="watchlist"
    ></app-genres>
  </mat-tab>
</mat-tab-group>
<img
  *ngIf="dataLoading || loadingWatchlist"
  class="prog"
  src="../../assets/cube.gif"
/>
