.example-card img{
    padding: 10px;
}
.search{
    height: 49px;
    outline: none;
    padding: 5px;
    width: 90%;
    border: none;
    border-bottom: 2px solid black;
}
.labels{
    margin-left: 50px;
    color:  red;
}
.spinner{
    margin-left: 100px;
}