.movie{
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px black solid;
    padding: 30px;
}
.rating{
    position: relative;
    left: 50%;
    top: 10px;
}
