<!-- <mat-spinner *ngIf="loading" class="prog"></mat-spinner> -->
<!-- <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar> -->
<mat-card class="movie" *ngFor="let movie of data" [hidden]="loading">
    <mat-card-header>
    <mat-card-title>{{movie.title}}</mat-card-title>  
    <mat-card-subtitle>{{movie.release_date}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="Photo of a Shiba Inu" width="100px" height="300px">
    <mat-card-content>
        <p>
           {{movie.overview}}
        </p>
        <mat-card-actions>
                <button *ngIf="add" mat-icon-button (click)="addToWatchList(movie.id)"><mat-icon title="Add to watchlist">{{addIcon}}</mat-icon></button>
                <button *ngIf="!add" mat-icon-button (click)="removeFromWatchList(movie.id)"><mat-icon title="Remove from watchlist">{{removeIcon}}</mat-icon></button>
                <span class="rating"><mat-icon>star</mat-icon></span>
            </mat-card-actions>
    </mat-card-content>
 
</mat-card>