.left{
    position: relative;
    left: 0px;
    top: 0px;
    width: 40%;
    height: auto;
    display: block;
    color: whitesmoke;
    /* border-right: 2px solid black; */
}
.right{
    position: absolute;
    display: block;
    width: 60%;
    left: 40%;
    top: 815px;
}
.fulltabs{
    width: 80%;
    left: 10%;
}
.prog{
    position: relative;
    left: 50%;
    top: 80px;
}