.left {
  position: relative;
  left: 0px;
  top: 0px;
  width: 40%;
  height: auto;
  display: block;
  color: whitesmoke;
}
.right {
  position: absolute;
  display: block;
  width: 60%;
  left: 40%;
  top: 815px;
  border-left: 2px solid black;
}
.prog {
  position: relative;
  left: 65%;
  top: 80px;
}
