<div class="search-bar">
  <input #name class="search" placeholder="type here to search!" />
  <div class="search-button">
    <button
      mat-icon-button
      color="primary"
      (click)="search(name.value)"
      color="primary"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
<img src="../../assets/line.gif" class="spinner" *ngIf="spinner" />
<p class="labels" *ngIf="empty">No results found</p>
<app-genres
  *ngIf="!loading && !loadingWatchlist"
  [genreData]="movies"
  [loading]="loading"
  [watchlist]="watchlist"
></app-genres>
<p class="labels" *ngIf="blank">Please type a query to search</p>
